-
  let tours = [
    {
      place: 'Греция',
      account: 'avatar-1',
      url: 'greece',
      name: 'Влада Голицина',
      comment: 'На севере Греции находится один из крупнейших комплексов монастырей, расположенных на вершинах скал. Название его «Метеора» буквально переводится как «висящие в воздухе». Этот монастырь основная цель нашего путешествия в Греции. После покарения скал из песчанника и обломочной горной породы, достигающих в высоту 600 метров, наградой будет неописуемая красота природы и атмосфера, царящая в монастырях Метеоры.',
      feedback: 'Метеоры в Греции можно сравнить разве что с Монсерратт в Испании. Такие же высоченные скалы. Но здесь потрясает масштаб. Огромная территория, высоко в горах. Ощущение такое, как будто стоишь на краю света! '
    },
    {
      place: 'Албания',
      account: 'avatar-2',
      url: 'albany',
      name: 'Маришка',
      comment: 'В Албании мы посетим Курорт Ксамиль. Этот курорт поразит вас чистейшей водой и удивительным пляжем. Вначале кажется, что на пляже вас встречает обычный, правда невероятно белоснежный и слишком крупный песок. Однако, присмотревшись, можно понять, что это не песок, а камни, перетёртые до такого мелкого состояния. ',
      feedback: 'Замечательный курорт, обязательно стоит посетить. В следующий раз возьму с собой сестру, чтобы тоже смогла вкусить все красоты природы :)'
    },
    {
      place: 'Македония',
      account: 'avatar-3',
      url: 'macedonia',
      name: 'Михаил Кузьмин',
      comment: 'В Македонии нашей целью будет посетить Палаошник, который расположился в удивительно красивой лесистой местности возле Охридского озера и Самуиловой твердыни. А также мы заберемся на вершину горы Татичев Камен где находится  археологический памятник Кокино в длину около 100 метров.',
      feedback: 'Я бы сказал необычное старое здание. В архитектуре я не разбираюсь, но подъем в гору был очень веселым так как люди оказались легкими и заводными. Красота природы впечатлила, особенно после долгого пути в гору.'
    },
    {
      place: 'Черногория',
      account: 'avatar-4',
      url: 'montenegro',
      name: 'Анастасия Мей',
      comment: 'Черногория удивит нас самым большим в Европе каньоном реки Тара, который в некоторых местах высотой берегов доходит до 1300 метров, а шириной не превышает трех. При этом длина каньона составляет 80 км. ',
      feedback: 'Неописуемой красоты каньон! Ничего прекраснее в жизни не видела, разве что в фильмах :) Всем советую'
    },
    {
      place: 'Хорватия',
      account: 'avatar-5',
      url: 'croatia',
      name: 'Владимир Мулицин',
      comment: 'В Хорватии мы посетим необычайную пещеру названную Бередине. Ее подземный мир увлечет вас на 80-ти метровую глубину через 5 освещенных залов, украшенных удивительными нерукотворными скульптурами —  сталактитами и сталагмитами —  формировавшимися тысячи и тысячи лет.',
      feedback: 'Мы поехали всей семьей, я, моя жена и родители. Пещера просто незабываема! А то, что все это формировалось тысячелетиями, мега необычно. Первоначально даже не верилось, но натур ни с чем не спутать по итогу :)'
    }
  ];

  let card = [
    {
      url: 'greece',
      country: 'Греция',
      alt: 'Греция'
    },
    {
      url: 'albany',
      country: 'Албания',
      alt: 'Албания'
    },
    {
      url: 'macedonia',
      country: 'Македония',
      alt: 'Македония'
    },
    {
      url: 'montenegro',
      country: 'Черногория',
      alt: 'Черногория',
      modifier: 'places__item--montenegro'
    },
    {
      url: 'croatia',
      country: 'Хорватия',
      alt: 'Хорватия',
      modifier: 'places__item--croatia'
    }
  ];

  let radio = [
    {
      name: 'Греция',
      id: 'Greece',
      checked: true
    },
    {
      name: 'Албания',
      id: 'albany'
    },
    {
      name: 'Македония',
      id: 'macedonia'
    },
    {
      name: 'Черногория',
      id: 'montenegro'
    },
    {
      name: 'Хорватия',
      id: 'croatia'
    }
  ]