.buy {
  display: none;

  position: fixed;
  z-index: 2;
  left: 0;
  top: 0;

  width: 100vw;
  height: 100vh;

  background-color: rgba(black, 0.3);

  .container {
    position: fixed;
    z-index: 2;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  
    padding: 0;
    width: 300px;
    height: 400px;
  
    background-color: white;
    box-shadow: 0px 4px 30px rgba(41, 54, 66, 0.2);
  }
}

.buy__wrapper {
  width: 270px;
  padding: 0;
  padding-top: 47px;
  margin: 0 auto;
}

.buy__header {
  margin: 0;
  margin-bottom: 51px;

  font-weight: 600;
  font-size: 25px;
  line-height: 170%;
  text-align: center;
  padding-right: 5px;

  color: $black-popup;
}

.buy__error {
  display: none;
  position: absolute;
  left: 0;
  top: -15px;
  display: none;
  margin: 0;
  font-size: 12px;
  line-height: 15px;
  color: #fe7865;
}

.buy__label {
  position: absolute;
  left: 14px;
  top: 2px;
}

.buy__input-wrapper {
  position: relative;
}

.buy__form {
  input {
    width: 270px;
    height: 50px;
    margin-bottom: 20px;

    border: 1px solid rgba(44,46,63,.3);
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: $black-popup;
  }

  input[type='text'] {
    padding-left: 25px;
  }

  input[type='email'] {
    padding-left: 13px;
  }
}

.buy__submit {
  display: block;
  width: 176px;
  height: 50px;
  margin: 0 auto;

  text-align: center;
  font-weight: bold;
  font-size: 12px;
  line-height: 15px;
  letter-spacing: 2px;
  text-transform: uppercase;

  cursor: pointer;
  background-color: $red;
  color: white;
  border: 0;

  &:hover {
    background-color: $orange;
  }

  &:active {
    opacity: 0.5;
  }
}

.buy__close {
  position: absolute;
  right: 20px;
  top: 20px;

  width: 22px;
  height: 22px;

  cursor: pointer;
  background-color: transparent;
  border: 0;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('../img/close.png');
  background-image: url('../img/close.webp');

  &:hover {
    opacity: 0.7;
  }

  &:active {
    opacity: 0.3;
  }
}

@media ($tablet) {
  .buy {
    .container {
      width: 627px;
    }
  }
}

@media ($desktop) {
  .buy {
    .container {
      width: 728px;
      height: 444px;

      background-image: url('../img/popup-bg.png');
      background-image: url('../img/popup-bg.webp');
      background-position: top 0 right 390px;
      background-repeat: no-repeat;

      @media (min-resolution: $retina-dppx) {
        background-image: url('../img/popup-bg@2x.png');
        background-image: url('../img/popup-bg@2x.webp');
        background-size: 338px 444px;
      }
    }
  }

  .buy__wrapper {
    padding-top: 72px;
    margin-left: auto;
    margin-right: 60px;
  }
}