.desc {
  .container {
    padding: 0;
  }
}

.desc__header-wrapper {
  height: 235px;
  padding: 62px 47px 89px 55px;
  margin-bottom: 20px;

  background-image: url('../img/background.png');
}

.desc__header {
  font-weight: 600;
  font-size: 24px;
  line-height: 150%;
  text-align: center;

  color: white;
}

.desc__text {
  padding: 0 8%;
  margin-bottom: 20px;

  font-size: 16px;
  line-height: 170%;
  text-align: center;
  letter-spacing: -0.46px;
}

.desc__button {
  display: block;
  margin: 0 5%;
  padding: 21px 40px 17px 40px;
  
  font-weight: 500;
  font-size: 10px;
  line-height: 12px;
  letter-spacing: 2px;
  text-transform: uppercase;

  color: white;
  background-color: $red;
}

@media ($tablet) {
  .desc {
    background-image: url('../img/background.png');

    .container {
      padding-bottom: 83px;
    }
  }

  .desc__header {
    margin: 0;
    font-size: 30px;
    letter-spacing: 0.2px;
  }

  .desc__header-wrapper {
    height: auto;
    padding: 0;
    padding-top: 60px;
    margin-bottom: 0;

    background-image: none;
  }

  .desc__text {
    padding: 0 24%;
    margin-bottom: 9px;

    color: white;
  }

  .desc__button {
    width: 250px;
    margin: 0 auto;
  }
}

@media ($desktop) {
  .desc {
    .container {
      padding-top: 151px;
      padding-bottom: 296px;
    }
  }

  .desc__container {
    margin-left: auto;
    margin-right: 23.8%;
    width: 390px;
  }

  .desc__header {
    padding-left: 2px;

    font-weight: 600;
    font-size: 55px;
    line-height: 80px;
    letter-spacing: -1.10667px;
    text-align: left;
  }

  .desc__text {
    padding: 0;
    margin-bottom: 33px;

    text-align: left;
  }

  .desc__button {
    margin: 0;
    margin-left: 2px;
    width: 340px;
    padding: 31px 38px 30px 40px;

    font-weight: bold;
    font-size: 12px;
    line-height: 15px;
    letter-spacing: 2px;
  }

  .desc__header-wrapper {
    padding-top: 35px;
    margin-bottom: 28px;
  }
}