.tours {
  .container {
    padding-top: 10px;
  }
}

.tours__countries {
  margin: 0;
  padding: 0;
  list-style: none;
}

.tours__buttons {
  margin: 0;
  padding: 0;
  display: flex;
  overflow: auto;
  margin-top: -5px;
  margin-right: -5.5%;
  height: 40px;

  list-style: none;

  border-bottom: 1px solid $grey-button;
}

.tours__button {
  margin-right: 100px;
}

.tours__label {
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: -0.415px;
  text-align: center;
  
  color: $grey-button;
  cursor: pointer;
  transition: 0.5s ease;

  &:hover {
    color: $dark;
  }

  &:active {
    opacity: 0.5;
  }
}

.tours__input {
  &:checked {
    & + {
      .tours__label {
        color: $red;
      }
    }    
  }
}

.tours__item {
  position: absolute;
  padding-top: 25px;
  opacity: 0;
}

.tours__item--active {
  position: relative;
  display: block;
  opacity: 1;
  transition: 1s ease;

  .tours__buy {
    display: block;
  }
}

.tours__header {
  margin: 0;
  margin-bottom: 20px;

  font-weight: 600;
  font-size: 24px;
  line-height: 150%;
  text-align: center;

  color: $dark;
}

.tours__text {
  margin-bottom: 20px;

  font-size: 16px;
  line-height: 28px;
  letter-spacing: -0.466667px;
  text-align: center;

  color: $grey-text;
}

.tours__buy {
  padding: 19px 70px 18px 71px;
  display: none;
  width: 288px;
  margin: 0 auto;

  font-weight: 500;
  font-size: 10px;
  line-height: 12px;
  letter-spacing: 2px;
  text-transform: uppercase;
  text-decoration: none;

  background-color: $red;
  color: white;

  &:hover {
    background-color: $orange;
  }

  &:active {
    opacity: 0.5;
  }
}

.tours__comment {
  position: relative;
  padding: 11px 21px 57px 19px;
  margin: 0 auto;
  margin-top: 100px;
  width: 268px;
  min-height: 431px;

  text-align: center;

  background-color: white;
}

.tours__feedback-header {
  position: relative;
  margin-bottom: 33px;

  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
  letter-spacing: -0.691667px;

  color: $dark;

  &::after {
    content: '';
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    bottom: -13px;

    width: 68px;
    height: 1px;

    background-color: $red;
  }
}

.tours__feedback {
  margin-bottom: 41px;

  font-size: 14px;
  line-height: 28px;
  letter-spacing: -0.408333px;

  color: $grey-text;
}

.tours__account {
  position: absolute;
  bottom: 14px;
  left: 50%;
  transform: translate(-122px);

  width: 90%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.tours__name {
  margin-top: 11px;

  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -1.06px;

  color: $dark;
}

.tours__item-wrapper {
  margin-bottom: 6px;
}

.tours__img {
  position: absolute;
  z-index: -1;

  width: 100vw;
  height: 415px;
  margin-left: -5.5%;
  margin-top: 44px;
}

@media ($tablet) {
  .tours {
    .container {
      padding-top: 83px;
      padding-left: 2.8%;
      padding-right: 2.8%;
    }
  }

  .tours__item-wrapper {
    margin-bottom: -14px;
  }

  .tours__item {
    padding-top: 32px;
  }

  .tours__header {
    margin-bottom: 21px;
    font-weight: 600;
    font-size: 30px;
    line-height: 150%;
  }

  .tours__name {
    font-size: 15px;
    letter-spacing: -0.56px;
  }

  .tours__buttons {
    padding: 0 16px;
    margin-right: -2.9%;
  }

  .tours__buy {
    padding: 21px 50px 17px 52px;
    width: 250px;
  }

  .tours__comment {
    padding: 29px 30px 59px 30px;
    margin-top: 124px;
    width: 382px;
    min-height: 367px;
  }

  .tours__img {
    margin-left: -2.9%;
  }

  .tours__feedback-header {
    margin: 0;
    margin-bottom: 33px;
    font-weight: 500;
    font-size: 30px;
    line-height: 37px;
    letter-spacing: -0.691667px;
    text-align: left;

    &::after {
      left: 0;
      transform: none;
      bottom: -11px;
  
      width: 68px;
      height: 1px;
  
      background-color: $red;
    }
  }

  .tours__feedback {
    text-align: left;
  }

  .tours__account {
    left: 1px;
    transform: none;
    bottom: 20px;

    padding: 0 30px;
    justify-content: stretch;
    width: 100%;
    flex-direction: row;
    align-items: stretch;
  }

  .tours__account-img {
    margin-right: 14px;
  }
}

@media ($desktop) {
  .tours {
    margin-bottom: -300px;
    background-image: url('../img/tabs-bg.png');
    background-image: url('../img/tabs-bg.webp');
    background-position: 50% 137px;
    background-repeat: no-repeat;
    
    @media (min-resolution: $retina-dppx) {
      background-image: url('../img/tabs-bg@2x.png');
      background-image: url('../img/tabs-bg@2x.webp');
      background-size: 1443.66px 1094.9px;
    }

    .container {
      padding-top: 80px;
      padding-left: 19.52%;
      padding-bottom: 480px;
    }
  }

  .tours__header {
    position: relative;
    z-index: 1;

    margin-bottom: 48px;
    font-weight: 600;
    font-size: 55px;
    line-height: 90px;
    text-align: left;
    letter-spacing: -1.245px;

    &::after {
      content: '';
      position: absolute;

      left: 0;
      bottom: -16px;

      width: 175px;
      height: 3px;

      background-color: $red;
    }
  }

  .tours__text {
    text-align: left;
    margin-bottom: 48px;
  }

  .tours__item-wrapper {
    width: 31.5%;
    margin-right: 0;
    padding-right: 6.5%;
  }

  .tours__item {
    padding-top: 91px;
  }

  .tours__item--active {
    display: flex;
  }

  .tours__buttons {
    width: 60.4%;
    padding: 0;
    justify-content: space-between;
  }

  .tours__buy {
    margin: 0;
    padding: 31px 40px 28px 41px;

    font-weight: 500;
    font-size: 12px;
    line-height: 15px;
    letter-spacing: 2px;
    text-transform: uppercase;
  }

  .tours__img {
    position: static;

    margin: 0;
    margin-top: -11px;
    width: 430px;
    height: 596px;
  }

  .tours__comment {
    position: absolute;
    right: 21.5%;
    top: 70px;

    padding-bottom: 57px;
  }

  .tours__account {
    bottom: 19px;
  }

  .tours__feedback-header {
    margin-bottom: 35px;

    &::after {
      bottom: -14px;
    }
  }
}

@media ($cards-breakpoint) {
  .tours {
    .container {
      padding-top: 0;
    }
  }
}

@media ($layout) {
  .tours {
    .container {
      padding-left: 375px;
      padding-right: 55px;
    }
  }
}