$red: #FE7865;
$orange: #F17D4B;
$grey: #FBF8F8;
$grey-text: rgba(44, 46, 63, 0.7);
$grey-button: rgba(44, 46, 63, 0.3);
$grey-link: rgba(20, 21, 23, 0.5);
$dark: #2C2E3F;
$black: #141517;
$black-popup: #48494D;

$tablet: 'min-width: 768px';
$desktop: 'min-width: 1024px';
$cards-breakpoint: 'min-width: 1755px';
$layout: 'min-width: 1920px';

$retina-dppx: 1.5dppx;

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: 'Montserrat', Arial, sans-serif;
}

.visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;

  font-size: 0;

  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  margin: 0 auto;
  padding-left: 5%;
  padding-right: 5.1%;
}

@media ($desktop) {
  .container {
    padding-left: 19.52%;
    padding-right: 19.5%;
  }
}

@media ($layout) {
  .container {
    width: 1920px;
  }
}